/__pycache__
__init__.py
FWQPBO32_old.dll
algoParams_test.txt
challenge/00.mat
challenge/01.mat
challenge/01_REC/
challenge/02.mat
challenge/02_REC/
challenge/03.mat
challenge/04.mat
challenge/04_REC/
challenge/05.mat
challenge/05_REC/
challenge/06.mat
challenge/06_REC/
challenge/07.mat
challenge/07_REC/
challenge/08.mat
challenge/08_REC/
challenge/09.mat
challenge/09_REC/
challenge/10.mat
challenge/10_REC/
challenge/11.mat
challenge/11_REC/
challenge/12.mat
challenge/12_REC/
challenge/13.mat
challenge/13_REC/
challenge/14.mat
challenge/14_REC/
challenge/15.mat
challenge/15_REC/
challenge/16.mat
challenge/16_REC/
challenge/17.mat
challenge/17_REC/
challenge/2test.txt
challenge/refdata.mat
modelParamsFAC.txt
test.py
testStuff.py
cpp/FW32.cbp
cpp/FW32.layout
cpp/FW64.cbp
cpp/FW64.layout
cpp/bin/Release/libFW32.a
cpp/bin/Release/libFW32.def
cpp/bin/Release/libFW64.a
cpp/bin/Release/libFW64.def
cpp/bin/Release/libqpbo32.a
cpp/bin/Release/libqpbo32.def
cpp/bin/Release/libqpbo64.a
cpp/bin/Release/libqpbo64.def
cpp/obj/
cpp/qpbo32.cbp
cpp/qpbo32.layout
cpp/qpbo64.cbp
cpp/qpbo64.layout

