/__pycache__
__init__.py
.*
FWQPBO32_old.dll
algoParams_test.txt
*.mat
challenge/*_REC/
challenge/2test.txt
modelParamsFAC.txt
test.py
testStuff.py
*.cbp
*.layout
*.depend
*.a
*.def
cpp/bin/Debug
cpp/obj/
build

*.pyc
